.contenedor{
    
    width: 100%;
    height: 1400px;
    background-color: rgb(253, 253, 253);
}
.encabezado{

    width: 100%;
    height: 150px;
    background-color: rgb(3, 53, 7);
    font-size: 50px;
    text-align: center;
    color: black;
}
.menu{

    width: 100%;
    height: 100px;
    background-color: rgb(43, 196, 51);
    display: flex;

}

.contenedor2{

    width: 100%;
    height: 1200px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.izquierdo{

    width: 20%;
    height: 1200px;
    background-color: rgb(156, 255, 189);
}
.centro{

    width: 60%;
    height: 1200px;
    background-color: white;
    background-image: url(eebc1263bcf8808b1de67d79db8740fb.jpg);
}
.derecho{

    width: 20%;
    height: 1200px;
    background-color: rgb(93, 156, 80);
}
.tecnologia{
    width: 100px;
    height: 98px;
    background-color: rgb(255, 255, 255);
    margin: 2px;

}
.ingles{
    width: 100px;
    height: 98px;
    background-color: rgb(255, 255, 255);
    margin: 2px;


}
.Inicio{
    width: 100px;
    height: 98px;
    background-color: rgb(255, 255, 255);
    margin: 2px;


}

